<%- include("partials/header") %>

<h1><%= foundFoodData.name %></h1>

<img src="<%= foundFoodData.image %> " alt="">
<h4><%= foundFoodData.description%></h4>

<% foundFoodData.comments.forEach(function(comment) { %>
    <p>
        <strong><%= comment.author %> </strong>-
        <%= comment.text %> 
    </p>       
<% }) %>

<%- include("partials/footer") %>
