<%- include("../partials/header") %> 

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>This is the Food Up page</h1>     
            <a class="btn btn-lg btn-success" href="/FoodUp/new">Add new Post</a> 
        </div>       
    </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% for( let i = 0; i < foodData.length; i++ ) { %>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="thumbnail">
                    <img class="card-img-top" src="<%= foodData[i]["image"]%> alt="Card image cap">
                    <div class="caption">
                        <h4><%= foodData[i]["name"] %> </h4>
                    </div>
                    <p>
                        <a href="/FoodUp/<%= foodData[i]["id"] %> " class="btn btn-primary">More info</a>
                    </p>
                </div>
            </div>
        <% } %>
    </div>
</div>

<%- include("../partials/footer") %>
