<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Food Up</p>
            <div class="list-group">
                <li class="list-group-item">Item 1</li>
                <li class="list-group-item">Item 2</li>
                <li class="list-group-item">Item 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= foundFoodData.image %> " alt="">
                <br>
                <div class="caption-full">
                    <h4 class="pull-right">Will think later what to add</h4>
                    <h4><a><%= foundFoodData.name %></a></h4>
                    <br>
                    <p><%= foundFoodData.description%></p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/FoodUp/<%= foundFoodData.id %>/comments/new ">Add new comment</a>
                </div>
                <br>
                <% foundFoodData.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %> </strong>
                            <span class="pull-right">X days ago</span>
                            <p>
                                <%= comment.text %> 
                            </p>  
                        </div>
                    </div>                         
                <% }) %>               
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
